@page "/contacts"
@using BlazorChat.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="col-12">
    @foreach (Contact contact in ContactList)
    {
        @*<a @onclick="NavigateToChat"*@
        <a href="/chat/@contact.ContactId"
           class="list-group-item list-group-item-action flex-column align-items-start">
            @contact.FirstName <span /> @contact.LastName
        </a>
    }
</div>

@code {

    private List<Contact> ContactList { get; set; } = new List<Contact>();

    protected override async Task OnInitializedAsync()
    {
        ContactList = await Http.GetFromJsonAsync<List<Contact>>("user");

    }

    //Navigation manager description: https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-3.1
    //private void NavigateToChat()
    //{
    //    NavigationManager.NavigateTo("/chat");
    //}
}
